.grid{
    width: 90%;
    height: 25%;
    margin: 10px auto;
    border: 1px solid darkcyan;
    border-radius: 10px;
    overflow: hidden;
    
}

.image{
    width: 20%;
    height: 90%;
    float: left;
    margin: 10px 0 0 10px;
   
}

img{
    width: 98%;
    height: 100%;
    border-radius: 5px;
}

.fields{
    width: 70%;
    float: left;
}

table{
    width: 96%;
    margin: 10px 0 0 10px;
    font-size: 20px;
    text-align: center;
}

th{
    color: darkcyan;
}

.main{
    height: auto;
}

.footer{
    bottom: 0px;
    margin-top: 30px;
    position: fixed;
}

#invest{
    color: blue;
    font-weight: bold;
}

#resolve{
    color: green;
    font-weight: bold;
}

#reject{
    color: red;
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 35px;
    color: indianred;
}

td{
    padding: 0 15px 0 15px;
}

.stats{
    width: 90%;
    height: 150px;
    margin: 0 auto;
}

.wrap-grid{
    height: 100%;
    margin-top: 50px;
}

#green{
    color: green;
    font-weight: bolder;
}

#blue{
    color: darkcyan;
    font-weight: bolder;
    
}

#red{
    color: indianred;
    font-weight: bolder;
}

button{
    width: 100px;
    height: 30px;
}

#btn1{
    margin-bottom: 10px;
    background: #4da6ff;
    color: white;
    border: 1px solid #4da6ff;
    border-radius: 2px;
}

#btn1:hover{
    background: #6699cc;
    border: none;
}

#btn2{
    background: indianred;
    color: white;
    border: 1px solid indianred;
    border-radius: 2px;
}

#btn2:hover{
    background: #ff6666;
    border: none;
}

.rej{
    height: 100%;
    width: 30%;
    float: left;
    margin-left: 20px;
}

.in{
    width: 100%;
    height: 50%;

}

.in2{
    width: 100%;
    height: 50%;
    border: 2px solid darkcyan;
    border-radius: 10px;
    background:#f5f5ef;
}

.in p{
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.in2 p{
    font-size: 28px;
    text-align: center;
}
